a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#C0C0C0; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_6847f1d0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:204px; background-color:#2D2913;  }
#container_6cf5d1d2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:203px; max-width:1600px; background-color:#45C3B3;  }
#container_6cf5d1d2_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_118931d5 { vertical-align: top; position:relative; display: inline-block; width:68%; min-height:170px; max-width:1000px; background:none;  }
#container_118931d5_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:left; }
#container_74337d4f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_74337d4f_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5dc15a0d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5152054b { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:320px; max-width:1000px; background-color:#FFFFFF;  }
#container_5152054b_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold;  }
#container_10853e17 { vertical-align: top; position:relative; display: inline-block; width:64%; min-height:186px; background:none;  }
#container_10853e17_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
#button_26982c48 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#45C368; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_10224cb5 { vertical-align: top; position:relative; display: inline-block; width:31%; min-height:186px; background:none;  }
#container_10224cb5_padding { margin: 10px; display: block;  }
.textstyle11 { text-align:right; }
#img_c1c4f45 { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; height:auto;  }
#container_147dd5a4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_7d38756a { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:320px; max-width:1000px; background-color:#B7E3B2;  }
#container_7d38756a_padding { margin: 10px; display: block;  }
#container_78514065 { vertical-align: top; position:relative; display: inline-block; width:64%; min-height:186px; background:none;  }
#container_78514065_padding { margin: 10px; display: block;  }
#button_782e733d { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#45C368; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#container_4a7848cd { vertical-align: top; position:relative; display: inline-block; width:31%; min-height:186px; background:none;  }
#container_4a7848cd_padding { margin: 10px; display: block;  }
#img_37eddc0e { vertical-align: bottom; position:relative; display: inline-block; width:78%; background:none; height:auto;  }
#container_7d6eadac { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:320px; max-width:1000px; background-color:#FFFFFF;  }
#container_7d6eadac_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#444444;  }
.textstyle13 { font-size:26pt; font-family:____; color:#000000;  }
.textstyle14 { font-size:18pt; font-family:____; color:#000000;  }
#container_6983ed74 { vertical-align: top; position:relative; display: inline-block; width:64%; min-height:186px; background:none;  }
#container_6983ed74_padding { margin: 10px; display: block;  }
#button_5d6fd260 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#45C368; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#container_3b4af324 { vertical-align: top; position:relative; display: inline-block; width:31%; min-height:186px; background:none;  }
#container_3b4af324_padding { margin: 10px; display: block;  }
#img_45c793e9 { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; height:auto;  }
